
body {
  overflow-x: hidden;
}
.firstphoto {
  height: 100vh;
  width: 90vw;
  background-color: grey;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content {
  height: 100vh;
  width: 100vw;
}
.contact-details {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: black;
  width: 200px;
}
.contact-box {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: black;
  width: 350px;
}
.contact-box-fix {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
}
.contact-box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 300px;
  margin: 20px;
  font-size: 20px;
  background-color: white;
}
.contact-box-list p {
  font-weight: 550;
}
.contact-box-list:hover {
  background-color: grey;
  cursor: pointer;
}
.footer{
  margin-top : 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  color: grey;
  text-align: center;
}

.cv {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: grey;
  background-color: black;
  width: 350px;
  font-size: 20px;
  text-align: center;
  line-height: 3;
  padding: 20px;
}
.cv-photo{
  height: 100%;
}
.cv-intro{
    width:100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: grey;
}
.cv-intro-inside{
  margin : 40px;
  height: 100%;
  width: 40%;
  line-height: 2;
  color: grey;
}
.fixhead{
  color: white;
  font-size: 30px;
  line-height: 3;
}
.actual-cv-fake{
  display: flex;
  justify-content: center;
  width: 87vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: black;
  gap: 20px;

}
.actual-cv{
  height: 200vh;
  width: 100vw;
}
.actual-cv-first{
  display: flex;
  justify-content: center;
  gap : 20px;
  width: 100%;
  height: 20%;
  background-color:black;
  color: grey;
  line-height: 2;
}
.actual-cv-left{
  width: 30%;
  height: 100%;
  background-color: black;
  color: grey;
  line-height: 2;
}
.actual-cv-right{
  width: 60%;
  height: 100%;
  background-color: black;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.actual-cv-second{
  display: flex;
  justify-content: center;
  gap : 20px;
  width: 100%;
  height: 80%;
  background-color:black;
  color: grey;
  
}
.actual-cv-left-second{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* or use flex-start */
  width: 30%;
  height: 100%;
  background-color: black;
  color: grey;
}
.actual-cv-right-second{
  width: 60%;
  height: 100%;
  background-color: black;
  color: grey;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.information{
 padding-left : 60px;
  width: 377px;
  height: 30%;
  background-color: black;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 30px;
}
.information p{
  text-align: left;
}
.languages{
  padding-left : 60px;
  margin-top: 20px;
  width: 377px;
  height: 25%;
  background-color: black;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
}
.photo{
    width:180px;
    height:180px;
    margin:auto;
    margin-top:40px;
    border-radius:50%;
    overflow:hidden;
    background:#e8d4c6;
}
.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.line{
    width:3px;
    background:grey;
}
.education{
  width: 100%;
  height:17% ;
  background-color: black;
  color: grey;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 230px;
  line-height: 1.5;
}
.experiences{
  width: 100%;
  height:17% ;
  background-color: black;
  color: grey;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 230px;
}
.hobbies{
  width: 100%;
  height:17% ;
  background-color: black;
  color: grey;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 230px;
}